@import '../bootstrap/scss/bootstrap.scss';

// @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
//   /* Retina-specific stuff here */
// }
// @include media-breakpoint-up(md) { ... }

// @include media-breakpoint-up(xl) { ... }
// @include media-breakpoint-up(xxl) { ... }

#logo {
  display: block;
  text-indent: -1000px;
  padding: 0;
  font-size: 0;
  height: 13px;
  width: 102px;
  background: center/contain no-repeat url(../assets/patnatMobileLogo.svg);
}
header {
  position: relative;
  //  50% 10% / auto 40% no-repeat url(../assets/headerVector.png),
  background: bottom/auto 70% no-repeat url(../assets/headerBackground.png),
    linear-gradient(#e1dfe2, #d5d3d6);
}
.header__container {
  position: relative;
}
.vector__container {
  position: absolute;
  top: 2.125rem;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 80%;
  background: top/auto url(../assets/headerVector.svg) no-repeat;
}
.nav__icons {
  display: none;
}
.title__container {
  padding-top: 4rem;
  padding-bottom: 21.5rem;
  text-align: center;
  z-index: 10;
  h1 {
    font-weight: 700;
  }
}
.header__p {
  // @include font-size(1.5rem);
  color: $gray-900;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}
.section1__container {
  padding-bottom: 6.06rem;
}
.section1__positionNav {
  position: relative;
}
.section1__nav--container {
  position: absolute;
  width: 100%;
  z-index: 10;
  margin-top: -4.9rem;
  background: linear-gradient(45deg, $gray-200, $gray-200 83%);
  border-radius: 1.25rem;
  text-align: center;
}
.section1__navList {
  column-gap: 3rem;
  margin: 0 1.25rem;
  a {
    font-size: 1rem;
    padding: 1.75rem 0 1.5rem;
  }
}
.section1__steps {
  display: none;
}
.section1__btn--choose {
  border: 1px solid $gray-900;
  margin: 1.5rem 0 1.75rem;
}
.section1__content--container {
  gap: 3.1rem;
  padding-top: 12rem;
}
.section1__content--card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section1__content--img {
  padding: 0rem 1.18rem;
  img {
    width: 100%;
    border-radius: 2rem;
  }
}
.section1__position--options {
  position: relative;
  width: 100%;
}
.section1__options {
  position: absolute;
  z-index: 1;
  width: 100%;
  bottom: -1.56rem;
  background: linear-gradient(to right, $gray-100 95%, $gray-100 78.85%);
  text-align: center;
  border-radius: 1.5rem;
  border: 1px #e6e8ec solid;
  box-shadow: 0px 0.6rem 3rem rgba(15, 15, 15, 0.1);
  margin-top: -11rem;
  padding: 0 2rem;
  ul {
    display: none;
    padding: 1.7rem 0 0.8rem;
  }
}
.section1__btn--option {
  margin: 0.75rem 0;
}
.section2__container {
  padding: 4rem 2rem;
  background-color: $gray-200;
}
.section2__nav {
  align-items: center;
  color: $gray-900;
  column-gap: 0.75rem;
  margin-bottom: 2rem;
  img {
    padding-right: 0.25rem;
  }
  a {
    display: flex;
    align-items: center;
    &:focus {
      background-color: $gray-100;
      border-radius: 6.25rem;
    }
  }
}
.section2__title--container {
  padding-bottom: 3rem;
  h2 {
    margin-bottom: 0.75rem;
  }
}
.section2__cards--container {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  gap: 2rem;
}
.section2__desktopCards--container {
  display: none;
}
.section2__card {
  position: relative;
}
.section2__card--body {
  h5 {
    padding-bottom: 0.25rem;
  }
  p {
    font-size: 0.75rem;
  }
}
.section2__categoryCard--btn {
  margin: 1rem 0rem 0rem 1rem;
  position: absolute;
  color: $gray-900;
  a {
    padding: 0.625rem 1rem;
    border-radius: 6.25rem;
    display: flex;
    justify-content: center;
    img {
      padding-right: 4px;
    }
  }
}
.section2__chooselist {
  flex-direction: column;
}
.section2__btn {
  border-radius: 1.5rem;
  font-weight: 400;
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.section2__btn--advices {
  margin: 2rem 0;
}
.section2__viewMore {
  margin-top: 3rem;
  padding: 0.75rem 1rem;
}
.section3__container {
  padding: 5rem 2rem 5rem;
  border-bottom: #e6e8ec 1px solid;
}
.section3__title--container {
  p {
    margin: 1rem 0 2rem;
    color: #353945;
  }
}
.section3__carouselbtn--desktop {
  display: none;
}
.section3__carouselBtn--container {
  display: flex;
  justify-content: center;
  column-gap: 0.5rem;
}
.section3__carouselImg {
  display: none;
}
.section4__container {
  background: bottom/auto 50% no-repeat url(../assets/subscribe_bg.png),
    linear-gradient(#f0f0f0, $gray-200 62.11%, $gray-200 0%);
  background-color: #dbdbd8;
  padding-top: 5rem;
  margin-top: 5rem;
  border-radius: 1.5rem 1.5rem 0 0;
}
.section4__content {
  text-align: center;
}
.section4__title--container {
  padding-left: 5rem;
  padding-right: 5rem;
  h2 {
    padding-bottom: 0.75rem;
  }
  p {
    color: #353945;
  }
}
.section4__form--container {
  margin-top: 2.5rem;
  p {
    font-size: 0.875rem;
    margin-bottom: 0;
    text-align: center;
    padding: 0.5rem 0 10.12rem;
  }
}
.submit__form {
  display: flex;
  align-items: center;
  border-radius: 5.625rem;
  background: $gray-100;
  border: 1px $gray-900 solid;
  button {
    margin: 0.5rem;
    border-radius: 100%;
  }
}
footer {
  background-color: $gray-200;
}
.footer__logo {
  display: flex;
  justify-content: center;
  padding-top: 4rem;
}
.footer__nav--container {
  margin-top: 3rem;
  a {
    color: $gray-600;
    &:hover,
    &:focus {
      color: $gray-900;
    }
  }
}
.footer__joinCommunity {
  text-align: center;
  margin-top: 3rem;
  h6 {
    margin-bottom: 1rem;
  }
}
.footer__p--copyright {
  font-size: 0.75rem;
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 1.5rem;
}
@include media-breakpoint-up(xs) {
  .section1__options {
    ul {
      display: flex;
    }
  }
  .section1__btn--option {
    margin-bottom: 1.5rem;
  }
  .section1__content--container {
    padding-top: 10.8rem;
  }
  .subscribe__form {
    margin: 0 3.75rem;
  }
  .footer__nav--container {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .community__form {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}
@include media-breakpoint-up(sm) {
  .section1__options {
    ul {
      column-gap: 2.5rem;
    }
  }
}
@include media-breakpoint-up(md) {
  .header__promotions--btn {
    padding: 1rem 1.5rem;
  }
  h2 {
    font-weight: 700;
  }
  .header__p {
    font-size: 1.5rem;
  }
  .section1__navList {
    justify-content: start;
    margin: 0 2.5rem;
  }
  .section1__steps--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1.75rem 2.5rem;
    row-gap: 1rem;
  }
  .section1__steps {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .section1__step--li {
    column-gap: 0.75rem;
    display: flex;
    align-items: center;
    p {
      margin: 0;
      font-size: 1.125rem;
    }
    span {
      padding: 0.5rem 0.75rem;
      img {
        margin-right: 0.25rem;
      }
    }
  }
  .section1__btn--choose {
    padding: 1rem 1.5rem;
    margin: 0;
  }
  .section1__content--container {
    gap: 0;
  }
  .section1__options {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 0;
    bottom: 0;
    ul {
      padding: 0.5rem 0;
      column-gap: 0;
    }
  }
  .section1__btn--option {
    border: 1px solid $gray-900;
    padding: 1rem 1.5rem;
  }
  .section2__title--container {
    p {
      font-size: 1.5rem;
    }
  }
  .section2__nav {
    justify-content: start;
  }
  .section2__cards--container {
    display: none;
  }
  .section2__desktopCards--container {
    display: flex;
    row-gap: 2rem;
  }
  .section2__card {
    height: 100%;
  }
  .section2__card--img {
    object-fit: cover;
  }
  .section2__card--body {
    padding: 1.125rem;
  }
  .section2__btn {
    padding-top: 2.625rem;
    padding-bottom: 2.625rem;
  }
  .section2__form--select {
    background-color: $gray-200;
    background-image: url(../assets/selectIconDesktop.svg);
    padding-left: 0;
  }
  .section3__title--container {
    flex-wrap: nowrap;
    justify-content: space-between;
    p {
      color: $gray-600;
      font-size: 1.5rem;
    }
  }
  .section3__carouselbtn--desktop {
    display: flex;
    justify-content: end;
    align-items: start;
  }
  .carousel__container {
    display: none;
  }
  .section3__carouselImg {
    display: block;
    img {
      width: 100%;
    }
  }
  .section4__container {
    background-size: auto 70%;
  }
  .section4__title--container {
    p {
      font-size: 1.5rem;
      color: $gray-600;
    }
  }
  .section4__content {
    text-align: center;
    justify-content: center;
  }
  .footer__content {
    justify-content: center;
  }
  .footer__joinCommunity {
    h6 {
      font-weight: 700;
    }
  }
  .subscribe__form {
    margin: 0;
  }
}
@include media-breakpoint-up(lg) {
  #logo {
    background-image: url(../assets/patnatDesktopLogo.svg);
    height: 5.625rem;
    width: 10.5rem;
  }
  header {
    // left 10% / auto 50% no-repeat url(../assets/headerVector.png),
    background: bottom/auto 100% no-repeat url(../assets/headerBackground.png),
      linear-gradient(#e1dfe2, #d5d3d6);
  }
  .header__navbar {
    padding: 0;
  }
  .vector__container {
    top: 19.3rem;
    opacity: 40%;
    background-position: top left;
    left: -5rem;
  }
  .nav__icons {
    display: flex;
  }
  .title__container {
    text-align: start;
    h1 {
      padding-top: 11.625rem;
    }
  }
  .section1__steps--container {
    flex-direction: row;
    margin: 1.25rem 2.5rem 3.75rem;
    row-gap: 0;
    column-gap: 100px;
  }
  .section1__content--img {
    padding: 0;
  }
  .section1__position--options {
    display: flex;
    justify-content: center;
  }
  .section1__options {
    flex-direction: row;
    width: auto;
    margin-bottom: 1.125rem;
  }
  .section1__btn--option {
    margin: 0;
  }
  .section2__container {
    border-radius: 1.5rem;
    padding-left: 5rem;
    padding-right: 5rem;
  }
  .section2__card--img {
    object-fit: cover;
    height: 13.75rem;
  }
  .section3__container {
    padding-bottom: 7.5rem;
  }
  .section4__container {
    margin-top: 7.5rem;
    background-size: auto 100%;
  }
  .footer__content {
    padding-top: 5rem;
  }
  .footer__logo {
    padding-top: 0;
    img {
      width: 100%;
    }
  }
  .footer__nav--container {
    margin: 0;
    a {
      padding-top: 0;
    }
  }
  .footer__joinCommunity {
    margin-top: 0;
    margin-bottom: 0;
  }
  .community__form {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 1rem;
  }
  .footer__p--copyright {
    text-align: start;
    margin-top: 4.5rem;
    margin-bottom: 1.5rem;
  }
}
