@import '../bootstrap/scss/bootstrap.scss';

.title__container {
  padding: 4rem 0 21.5rem 0;
  text-align: center;
}
.section1__nav--container {
  margin-top: -4.25rem;
  margin-bottom: 5rem;
  background-color: $gray-200;
  border-radius: 1.25rem;
  text-align: center;
}
.btn-choose {
  border-color: $gray-900;
  margin: 1.75rem 0;
}
// .section1__content--container {
// }
.section1__content--img {
  border-radius: 2rem;
  width: 100%;
}
.section1__options--container {
  display: flex;
  justify-content: center;
  column-gap: 2.375rem;
}
